<?xml version="1.0"?>
<config>
    <modules>
        <EcomInfinity_OrderExporter>
            <version>0.1.0</version>
        </EcomInfinity_OrderExporter>
    </modules>
    <frontend>
        <routers>
            <orderexporter>
                <use>standard</use>
                <args>
                    <module>EcomInfinity_OrderExporter</module>
                    <frontName>orderexporter</frontName>
                </args>
            </orderexporter>
        </routers>
        <layout>
            <updates>
                <orderexporter>
                    <file>orderexporter.xml</file>
                </orderexporter>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <orderexporter>
                <class>EcomInfinity_OrderExporter_Model</class>
                <resourceModel>orderexporter_mysql4</resourceModel>
            </orderexporter>
            <orderexporter_mysql4>
                <class>EcomInfinity_OrderExporter_Model_Mysql4</class>
                <entities>
                    <task>
                        <table>ei_oe_task</table>
                    </task>
                </entities>
            </orderexporter_mysql4>
        </models>
        <resources>
            <orderexporter_setup>
                <setup>
                    <module>EcomInfinity_OrderExporter</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </orderexporter_setup>
            <orderexporter_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </orderexporter_write>
            <orderexporter_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </orderexporter_read>
        </resources>
        <blocks>
            <orderexporter>
                <class>EcomInfinity_OrderExporter_Block</class>
            </orderexporter>
        </blocks>
        <helpers>
            <orderexporter>
                <class>EcomInfinity_OrderExporter_Helper</class>
            </orderexporter>
        </helpers>
    </global>
</config>